.existing-formatives {
	margin-left: 10px;
	margin-right: 10px;
}

.mat-column-select {
  flex: 1;
}

.mat-column-name {
  flex: 4;
}

.mat-column-date {
  flex: 2;
}

.mat-column-classes {
  flex: 4;
}

.mat-column-subjects {
  flex: 4;
}

.mat-column-tags {
  flex: 4;
}

.mat-column-url {
	flex: 4;
}