<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px"
		fxLayout.lt-md="column" fxLayoutAlign.lt-md="center stretch" fxLayoutGap.lt-md="10px" class="existing-formatives">
	<mat-form-field fxFlex="40%" *ngIf="!(isLoading$ | async)">
		<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
	<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>		
</div>
<mat-table [dataSource]="dataSource" matSort>

	<ng-container matColumnDef="created">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Datum gemaakt</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.created.toDate() | date : 'dd-MM-yyyy' }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Formatief</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="date">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Datum formatief</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.date.toDate() | date : 'dd-MM-yyyy' }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="subjects">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Vak</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.subjects }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="classes">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Klas</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.classes }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="tags">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Tags</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.tags }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="url">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Link</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.formativeUrl }}</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns"
						(click)="selection.select(row)"></mat-row>
</mat-table>

<mat-paginator [length]="100" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>