.existing-assessments {
	margin-left: 10px;
	margin-right: 10px;
}

.courses {
	margin: 20px;
}

mat-card {
	margin-top: 10px;
}

.placeholder {
	height: 300px;
}

.mat-column-created {
  flex: 2;
  min-width: 55px;
}

.mat-column-studentIcon {
  flex: 1;
}

.mat-column-student {
  flex: 4;
}

.mat-column-class {
  flex: 2;
}

.mat-column-skill {
  flex: 8;
}

.mat-column-topic {
  flex: 4;
}

.mat-column-project {
  flex: 4;
}

.mat-column-status {
  flex: 2;
}