
<section fxLayout="column" fxLayoutAlign="center center">
	
	<mat-card>
		<mat-card-header>
		    <mat-card-title>Maak rapport</mat-card-title>
		    <mat-card-subtitle>{{student?.displayName}}</mat-card-subtitle>
		</mat-card-header>

		<form (ngSubmit)="onSubmit()" [formGroup]="selectProgramForm">

			<mat-card-content>
				<input type="hidden" formControlName="program">
				<app-program-select [user]="student" [organisation]="organisation" [relevantProgramsOnly]="true" 
									(selectedProgram)="onSelectedProgram($event)"></app-program-select>
				
			</mat-card-content>
			<mat-card-actions>
				<button type="submit" mat-button color="primary" [disabled]="selectProgramForm.invalid">
					Rapporteer
				</button>
				<button type="button" mat-button (click)="onReturnToOverview()" 
						*ngIf="(currentUser$ | async).role === 'Leraar'">
					Terug
				</button>
			</mat-card-actions>
		</form>
	</mat-card>

</section>

<app-user-graph [student]="student" [organisation]="organisation"></app-user-graph>