<mat-toolbar color="primary" class="mat-elevation-z3">
  <mat-icon class="toolbar-icon">school</mat-icon>
  Lesgroepen
</mat-toolbar>

<mat-tab-group *ngIf="!(currentCourse$ | async)" backgroundColor="primary">
  <mat-tab label="Lesgroepen">
  	<button mat-button *ngIf="(currentUser$ | async)?.hasGoogleForEducation && !hasToken" class="centered"
  				(click)="onConnectGC()">Verbind met Google Classroom</button>
  	<app-existing-courses></app-existing-courses>
  </mat-tab>
  <mat-tab label="Nieuwe lesgroep">
  	<app-new-course></app-new-course>
  </mat-tab>
  <mat-tab label="Import Google Classroom" *ngIf="hasToken">
  	<app-new-gc-course></app-new-gc-course>
  </mat-tab>
</mat-tab-group>
<app-current-course *ngIf="currentCourse$ | async"></app-current-course>