<mat-form-field *ngIf="(screenType$ | async)!=='phone'" class="full-width">
	<mat-select [placeholder]="titles.program" [(ngModel)]="selectedProgramId" (ngModelChange)="selectProgram($event)">
		<mat-optgroup label="Met ster" *ngIf="!relevantProgramsOnly">
		  	<mat-option *ngFor="let starredProgram of starredPrograms$ | async" 
		  				[value]="starredProgram.id"
		  				matTooltip="{{ starredProgram.name }} - {{starredProgram.code}}">
		      {{ starredProgram.name }} - {{starredProgram.code}}
		    </mat-option>
		</mat-optgroup>
		<mat-optgroup [label]="titles.allPrograms">
		    <mat-option *ngFor="let program of programs" 
		    			[value]="program.id"
		    			matTooltip="{{ program.name }} - {{program.code}}">
		      {{ program.name }} - {{program.code}}
		    </mat-option>
		</mat-optgroup>
	</mat-select>
</mat-form-field>
<mat-form-field *ngIf="(screenType$ | async)==='phone'" class="full-width">
	<select matNativeControl [placeholder]="titles.program" [(ngModel)]="selectedProgramId" (ngModelChange)="selectProgram($event)">
		<option value=""></option>
		<optgroup label="Met ster" *ngIf="!relevantProgramsOnly">
			<option *ngFor="let starredProgram of starredPrograms$ | async" 
	  				[value]="starredProgram.id">
				{{ starredProgram.name }} - {{starredProgram.code}}
			</option>
		</optgroup>
		<optgroup [label]="titles.allPrograms">
			<option *ngFor="let program of programs" 
	    			[value]="program.id">
				{{ program.name }} - {{program.code}}
			</option>
		</optgroup>
	</select>
</mat-form-field>
