
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px"
		fxLayout.lt-md="column" fxLayoutAlign.lt-md="center stretch" fxLayoutGap.lt-md="10px" class="existing-comments">
	<mat-form-field fxFlex.gt-sm="40%" *ngIf="!(isLoading$ | async)">
		<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
	<mat-slide-toggle 
				color="primary" 
				[(ngModel)]="allOrganisation" 
				*ngIf="hasPermission" 
				(ngModelChange)="onChange()">
        Alle commentaar
    </mat-slide-toggle>
	<div>
		<button type="button" mat-button
				(click)="onEdit()" [disabled]="!(selection.selected.length===1)">Bewerk item</button>
		<button type="button" mat-button color="warn" 
				(click)="onRemove()" [disabled]="selection.selected.length===0">Verwijder selectie</button>
	</div>
	<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>		
</div>
<mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDirection="desc">

	<ng-container matColumnDef="select">
	  <mat-header-cell *matHeaderCellDef>
	    <mat-checkbox (change)="$event ? masterToggle() : null"
	                  [checked]="selection.hasValue() && isAllSelected()"
	                  [indeterminate]="selection.hasValue() && !isAllSelected()">
	    </mat-checkbox>
	  </mat-header-cell>
	  <mat-cell *matCellDef="let row">
	    <mat-checkbox (click)="$event.stopPropagation()"
	                  (change)="$event ? selection.toggle(row) : null"
	                  [checked]="selection.isSelected(row)">
	    </mat-checkbox>
	  </mat-cell>
	</ng-container>

	<ng-container matColumnDef="created">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Datum</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.created.toDate() | date : 'dd-MM-yyyy' }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="comment">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Commentaar</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.comment }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="studentName">
		<mat-header-cell *matHeaderCellDef mat-sort-header>{{titles.student}}</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.studentName }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="className">
		<mat-header-cell *matHeaderCellDef mat-sort-header>{{titles.class}}</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.className }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="read">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Gelezen</mat-header-cell>
		<mat-cell *matCellDef="let element">
			<mat-icon *ngIf="element.isReadByStudent">check</mat-icon>
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="reported">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Gerapporteerd</mat-header-cell>
		<mat-cell *matCellDef="let element">
			<mat-icon *ngIf="element.isReported">check</mat-icon>
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="teacherName">
		<mat-header-cell *matHeaderCellDef mat-sort-header>{{titles.teacher}}</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.teacherName }}</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns"
						(click)="selection.select(row)"></mat-row>
</mat-table>

<mat-paginator [length]="100" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>