.current-program {
  margin-left: 10px;
  margin-right: 10px;
}

.full-width {
	width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}

.mat-column-select {
  flex: 1;
  overflow: initial;
}

.mat-column-order {
  flex: 2;
  min-width: 60px
}

.mat-column-competency {
  flex: 12;
}

.mat-column-topic {
  flex: 4;
}

.mat-column-link {
  flex: 4;
}

.mat-column-attachments {
  flex: 2;
}

mat-card {
  margin: 10px;
}