/*a:hover, a.active {
	color: lightgray;
}
*/
#displayName {
	font-size: 14px;
	color: black;
}


#roleAndOrganisation {
	font-size: 12px;
	color: black;
}

#logo {
	height: 25px;
	margin-right: 5px;
}