<mat-toolbar color="primary">
	<div fxHide.gt-xs>
		<button mat-icon-button (click)="onToggleSidenav()">
			<mat-icon>
				menu
			</mat-icon>
		</button>
	</div>
	<div fxFlex fxLayout="row" fxLayoutAlign="flex-start center">
		<a mat-button routerLink="/" *ngIf="isAuth$ | async">
			<img [src]="logo" id="logo"> {{titles.appShortName}}
		</a>
	</div>
	<div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="10px">
		<!-- Student links -->
		<div fxLayout fxHide fxShow.gt-xs>
			<button mat-button *ngIf="hasPermission('read:assessments')" routerLink="/assessments" routerLinkActive="active">
				{{titles.assessments}}
			</button>
			<button mat-button *ngIf="hasPermission('write:comments')" routerLink="/comments" routerLinkActive="active">
				{{titles.comments}}
			</button>
			<button mat-button *ngIf="hasPermission('read:comments')" routerLink="/comments/student" routerLinkActive="active">
				{{titles.comments}}
			</button>
			<button mat-button *ngIf="hasPermission('read:evaluations')" routerLink="/evaluations" routerLinkActive="active">
				{{titles.evaluations}}
			</button>
			<button mat-button *ngIf="hasPermission('read:overviews')" routerLink="/overviews" routerLinkActive="active">
				{{titles.overviews}}
			</button>
			<!-- Administration part -->
			<button mat-button [matMenuTriggerFor]="administration" *ngIf="hasPermission('manage:schoolcontents')">
				{{titles.contents}}
			</button>
			<mat-menu #administration="matMenu" fxHide.xs>
			  <button mat-menu-item routerLink="/programs" *ngIf="hasPermission('manage:programs')">{{titles.programs}}</button>
			  <button mat-menu-item routerLink="/projects" *ngIf="hasPermission('manage:projects')">{{titles.projects}}</button>
			  <button mat-menu-item routerLink="/courses" *ngIf="hasPermission('manage:courses')">{{titles.courses}}</button>
			  <button mat-menu-item routerLink="/formatives" *ngIf="hasPermission('manage:formatives')">{{titles.formatives}}</button>
			  <button mat-menu-item routerLink="/admin/downloads" *ngIf="hasPermission('download:data')">{{titles.downloads}}</button>
			</mat-menu>
			<button mat-button routerLink="/admin" *ngIf="hasPermission('manage:users')">
				{{titles.users}}
			</button>
		</div>
		<!-- Profile button -->
		<button mat-mini-fab [matMenuTriggerFor]="profile" *ngIf="isAuth$ | async">
			{{(user$ | async)?.displayName.charAt(0)}}
		</button>
		<mat-menu #profile="matMenu">
		  <button mat-menu-item disabled="true" id="displayName">{{(user$ | async)?.displayName}}</button>
		  <button mat-menu-item disabled="true" id="roleAndOrganisation">{{(user$ | async)?.role}} - {{(user$ | async)?.organisation}}</button>
		  <button routerLink="/profile" mat-menu-item>Profiel</button>
		  <button style="cursor: pointer" (click)="onLogout()" mat-menu-item>Log uit</button>
		</mat-menu>
	</div>
	
</mat-toolbar>