<mat-accordion class="headers-align">
  
  <app-panel-tile *ngFor="let skill of skills; let i=index;"
                  [currentTile]="step"
                  [indexOfTile]="i"
                  [skill]="skills[i]"
                  [lastTileIndex]="skills.length-1"
                  [user]="user"
                  [newEvaluationsAllowed]="newEvaluationsAllowed"
                  [showEvaluationsAllowed]="showEvaluationsAllowed"
                  (openedPanelIndex)="setStep($event)"
                  (clickedPreviousStep)="prevStep()"
                  (clickedNextStep)="nextStep()"></app-panel-tile>


</mat-accordion>