@media (min-width:974px) {
 	.headers-align .mat-expansion-panel-header-title, 
	.headers-align .mat-expansion-panel-header-description
 	{
		flex-basis: 0;
	}
}

@media (min-width:974px) {
 	.headers-align .mat-expansion-panel-header-description
 	{
		justify-content: space-between;
  		align-items: center;
	}
}

@media (max-width:974px) {
 	.headers-align .mat-expansion-panel-header-description
 	{
		justify-content: flex-end;
  		align-items: center;
	}
}

.grey-topic {
	color: gray;
}

mat-panel-title {
	padding-top: 10px;
	padding-bottom: 10px;
}

#icon-block{
	display: flex;
	flex-direction: row;
}
