<mat-form-field *ngIf="(screenType$ | async)!=='phone'" class="full-width">
    <input type="text" [placeholder]="titles.selectStudent" matInput [formControl]="studentControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option 	*ngFor="let student of filteredStudents$ | async" 
      				[value]="student"
      				matTooltip="{{student.classNumber}} - {{student.classes}} - {{ student.displayName }}">
        {{student.officialClass ? student.officialClass : 'Geen'}} 
        <span *ngIf="usesClassNumbers">- {{student.classNumber}} </span>
        - {{ student.displayName }}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>Selecteer een leerling door de naam of klas in te geven</mat-hint>
 </mat-form-field>

 <mat-form-field *ngIf="(screenType$ | async)==='phone'" class="full-width">  
  <select matNativeControl
  		placeholder="Selecteer klas" 
  		[(ngModel)]="selectedClass" (ngModelChange)="onSelectClass($event)">
    <option *ngFor="let class of organisation.classes" [value]="class">
      {{class}}
    </option>
  </select>
</mat-form-field>
<mat-form-field *ngIf="(screenType$ | async)==='phone'" class="full-width">  
  <select matNativeControl
  		[placeholder]="titles.selectStudent"
  		[(ngModel)]="student" (ngModelChange)="onSelectStudent($event)">
      <option value=""></option>
	    <option *ngFor="let student of filteredStudents" [value]="student.uid">
	       {{student.officialClass ? student.officialClass : 'Geen'}} 
         <span *ngIf="usesClassNumbers">- {{student.classNumber}}</span> 
         - {{ student.displayName }}
	    </option>
  </select>
</mat-form-field>