<section class="new-project" fxLayout fxLayoutAlign="center" [ngStyle]="colorStyle">
	<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
		<mat-card fxFlex.xs="100%" fxFlex="400px">
			<mat-card-title fxLayoutAlign="center">
				Maak een nieuw project
			</mat-card-title>
			<mat-card-content fxLayout="column" fxLayoutAlign="center center" *ngIf="!(isLoading$ | async)">
				<mat-form-field class="full-width">
				   <input matInput placeholder="Naam" formControlName="name" required>
				   <mat-error>Vul de naam van het project in</mat-error>
				</mat-form-field>
				<div>
					<mat-form-field class="quarter-width">
					   <input matInput placeholder="Jaar" formControlName="codeYear" required type="number">
					   <mat-error>4 cijfers</mat-error>
					</mat-form-field>
					<mat-form-field class="quarter-width">
					   <input matInput placeholder="Plaats" formControlName="codePlace" required>
					   <mat-error>4 letters</mat-error>
					</mat-form-field>
					<mat-form-field class="quarter-width">
					   <input matInput placeholder="Lesgroep" formControlName="codeCourse" required>
					   <mat-error>4 karakters</mat-error>
					</mat-form-field>
					<mat-form-field class="quarter-width">
					   <input matInput placeholder="Volgorde" formControlName="codeOrder" required type="number">
					   <mat-error>4 cijfers</mat-error>
					</mat-form-field>
					<button mat-icon-button (click)="generateCode()" type="button">
						<mat-icon>build</mat-icon>
					</button>
				</div>
				<mat-form-field class="full-width">
				   <input matInput placeholder="Code" formControlName="code" required>
				   <mat-error>Code moet bestaan uit 19 karakters - XXXX XXXX XXXX XXXX</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width">  
				  <mat-select 
				  		placeholder="Selecteer 1 of meer klassen" 
				  		formControlName="classes"
				  		multiple
				  		required>
				    <mat-option *ngFor="let class of organisation?.classes" [value]="class">
				      {{class}}
				    </mat-option>
				  </mat-select>
				  <mat-error>Selecteer minimaal 1 klas</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width">  
				  <mat-select 
				  		placeholder="Selecteer 1 of meer vakken" 
				  		formControlName="subjects"
				  		 multiple
				  		 required>
				    <mat-option *ngFor="let subject of organisation?.subjects" [value]="subject">
				      {{subject}}
				    </mat-option>
				  </mat-select>
				  <mat-error>Selecteer minimaal 1 vak</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width">  
				  <mat-select 
				  		placeholder="Selecteer een kleur" 
				  		formControlName="color"
				  		required>
				    <mat-option *ngFor="let color of colors" [value]="color.color">
				      {{color.colorLabel}}
				    </mat-option>
				  </mat-select>
				  <mat-hint>De kleur bepaalt de achtergrond van de project tegel</mat-hint>
				  <mat-error>Selecteer een kleur</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width">
				   <input type="text" matInput 
				   			placeholder="Opdracht" formControlName="projectTaskUrl"
				   			pattern="https?://.+">
				   <mat-hint>Hier kun je een link naar een projectopdracht plaatsen</mat-hint>
				   <mat-error>Dit is geen geldige url</mat-error>
				</mat-form-field>
			</mat-card-content>
			<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>	
			<mat-card-actions fxLayoutAlign="center">
				<button type="submit" mat-raised-button color="primary" [disabled]="projectForm.invalid">
					Bewaar
				</button>
			</mat-card-actions>
		</mat-card>	
	</form>
</section>
