

<section fxLayout="column" fxLayoutAlign="center center" *ngIf="isTeacher && !(hasSelectedStudent$ | async)">
	<h3>Selecteer een leerling</h3>
	<form class="student-form" (ngSubmit)="onSubmit()" [formGroup]="selectStudentForm">
	  <mat-form-field class="student-full-width">
	    <input type="text" placeholder="Leerling" matInput formControlName="student" [matAutocomplete]="auto">
	    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
	      <mat-option *ngFor="let student of filteredStudents | async" [value]="student">
	        {{student.classes}} - {{ student.displayName }}
	      </mat-option>
	    </mat-autocomplete>
	    <mat-hint>Selecteer een leerling door de naam of klas in te geven</mat-hint>
	  </mat-form-field>
	  <button type="submit" mat-raised-button color="accent" [disabled]="selectStudentForm.invalid">Selecteren</button>
	</form>
</section>

<section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" *ngIf="isTeacher && (hasSelectedStudent$ | async)">
	<span>{{ selectedStudent.displayName }}</span>
	<button type="button" mat-raised-button color="accent" (click)="onChange()">Leerling selecteren</button>
</section>

<section *ngIf="hasSelectedStudent$ | async">
	<mat-grid-list cols="{{columns}}" rowHeight="200px" gutterSize="25">
	  <mat-grid-tile 
	  		[ngClass]="{'locked': project.locked}"
	  		*ngFor="let project of filteredProjects"
	  		[style.background]="project?.color"
	  		(click)="onSelect(project)">
	  	<mat-grid-tile-header fxLayout="row" fxLayoutAlign="space-between center">
	  		<p>{{project?.code}}</p>
	  		<img src="{{project.sticker}}" class="sticker" *ngIf="project.sticker" (click)="onAddSticker($event, project)">
	  		<button mat-icon-button *ngIf="isTeacher && !project.sticker && project.progress==100" 
	  					(click)="onAddSticker($event, project)"><mat-icon>add_circle_outline</mat-icon></button>
	  		<button mat-icon-button *ngIf="isTeacher && project.locked" (click)="onUnlock($event, project)">
	  				<mat-icon>lock_open</mat-icon></button>
	  	</mat-grid-tile-header>
  			<mat-icon *ngIf="project.locked">lock</mat-icon>
  			{{project?.name}}
	    <mat-grid-tile-footer>
	    	<mat-progress-bar color="primary" mode="determinate" value="{{project?.progress}}"></mat-progress-bar>
	    </mat-grid-tile-footer>
	  </mat-grid-tile>
	</mat-grid-list>
</section>