section {
	padding: 20px;
}

.mat-grid-tile:hover {
  font-size: 1.5em;
  transition: 300ms;
}

.mat-grid-tile {
  color: #ffffff; 
  font-size: 22px; 
  font-weight: 800; 
  text-align: center; 
  text-transform: uppercase;
  cursor: pointer;
}

mat-progress-bar {
	margin-right: 10px;
	margin-left: 10px;
}

.student-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.student-full-width {
  width: 100%;
  margin-bottom: 20px;
}

.sticker {
  max-height: 90%;
}

.locked {
  background-color: rgba(0,0,0,0.3) !important;
}

.locked.mat-grid-tile {
  font-size: 22px;
}

.locked.mat-grid-tile:hover {
  font-size: 22px;
  transition: none;
  cursor: not-allowed;
}