.toolbar{
	margin: 20px;
}

.selection-skill {
	margin: 10px;
}

@media all and (min-width:600px){
	.student-card {
		width: 200px;
	}
}

.student-card {
	margin: 10px;
}

@media all and (max-width:600px){
	.full-width {
		width: 100%;
	}
}

@media all and (min-width:600px){
	.full-width {
		width: 50%;
	}
}