<div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch" fxLayoutGap.lt-md="10px">
	<mat-card fxFlex="75">
		<form [formGroup]="selectSkillForm" (ngSubmit)="onSubmit()">
			<mat-card-header>
				<mat-card-title>
					{{course.name}}
				</mat-card-title>
			</mat-card-header>
			<mat-card-content fxLayout="row" fxLayoutAlign="space-evenly start" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="start stretch" fxLayoutGap.lt-sm="10px">
				<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
				<div fxFlex.gt-xs="30">
					<input type="hidden" formControlName="project">
					<app-project-select [user]="user" [organisation]="organisation" [resetTrigger]="resetProject" 
										(selectedProject)="onSelectedProject($event)"></app-project-select>
				</div>
				<div fxFlex.gt-xs="70">
					<input type="hidden" formControlName="skill">
					<app-skill-select [project]="selectedProject" [resetTrigger]="resetSkill" 
										(selectedSkill)="onSelectedSkill($event)"></app-skill-select>
				</div>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button (click)="onClose()">Terug</button>
				<button type="button" mat-button color="warn" (click)="onReset()">
					Reset
				</button>
				<button type="submit" mat-button [disabled]="selectSkillForm.invalid">
					Overzicht
				</button>
				<button type="button" color="primary" mat-button 
						[disabled]="!hasSelectedSkill" 
						*ngIf="formBehavior==='Snel'"
						(click)="onSave()">
					Bewaar
				</button>
			</mat-card-actions>
		</form>
	</mat-card>
	<mat-card fxFlex="25">
		<mat-card-header>
			<mat-card-title>
				Invoer
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-radio-group class="radio-group" [(ngModel)]="formBehavior">
			  <mat-radio-button class="radio-button" *ngFor="let behavior of behaviors" [value]="behavior">
			    {{behavior}}
			  </mat-radio-button>
			</mat-radio-group>
			<div *ngIf="formative">
				{{formative.date.toDate() | date : 'dd-MM-yyyy' }} -- {{formative.name}}
				<button mat-icon-button (click)="onRemoveFormative()">
					<mat-icon>clear</mat-icon>
				</button>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button (click)="onSelectFormative()" *ngIf="!formative">Formatief</button>
		</mat-card-actions>
	</mat-card>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="start stretch" fxLayoutGap.lt-sm="10px">
	<mat-card *ngFor="let student of courseStudents; let i=index" class="student-card">
		<mat-card-content>
			<h4>{{student.displayName}}</h4>
			<mat-icon [ngStyle]="{'color': (student.evaluation && student.evaluation.colorStudent) ? student.evaluation.colorStudent: 'grey'}">
	          {{(student.evaluation && student.evaluation.iconStudent) ? student.evaluation.iconStudent : "account_circle"}}
	        </mat-icon>  
	        <mat-icon [ngStyle]="{'color': (student.evaluation && student.evaluation.colorTeacher) ? student.evaluation.colorTeacher : 'grey'}" >
	          {{(student.evaluation && student.evaluation.iconTeacher) ? student.evaluation.iconTeacher : "supervised_user_circle"}}
	        </mat-icon>
	        <span *ngIf="student.evaluation">
		      {{student.evaluation.created.toDate() | date : 'dd-MM-yyyy' }}
		    </span>
		</mat-card-content>
		<mat-card-actions>
			<mat-button-toggle-group *ngIf="formBehavior==='Snel'" 
					[disabled]="!hasSelectedSkill"
					(change)="onChanged($event.value, student.evaluation, student)"
					[(ngModel)]="groupModel[i]">
			  <mat-button-toggle *ngFor="let color of colors" 
			  					[value]="color" [checked]="groupModel[i] == color">
			  	<mat-icon [ngStyle]="{'color': color.color}">{{color.icon}}</mat-icon>
			  </mat-button-toggle>
			</mat-button-toggle-group>
			<button mat-button [disabled]="!hasSelectedSkill" (click)="onStartAssessment(student)" 
				*ngIf="formBehavior==='Normaal'">
			    Beoordeel
			</button>
		</mat-card-actions>   
	</mat-card>
</div>