.toolbar{
	margin: 20px;
}

mat-card {
	margin: 10px;
}

.card-title-sm {
  font-size: 16px;
}

.half-width {
	width: 50%;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

@media all and (min-width: 600px) {
  .student-card{
    width: 200px;
  }
}

/*
mat-button-toggle-group {
  width: 100%;
}
*/