<h1 mat-dialog-title>Selecteer formatief</h1>
<form [formGroup]="formativeForm" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<input type="hidden" formControlName="formative">
		<app-formative-select [user]="passedData"
			(selectedFormative)="onSelectedFormative($event)"></app-formative-select>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button color="warn" type="button" [mat-dialog-close]="true">Annuleren</button>
		<button mat-button color="primary" type="submit" [disabled]="formativeForm.invalid">Bewaren</button>
	</mat-dialog-actions>
</form>