<h1 mat-dialog-title>Project Bewerken</h1>
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<mat-form-field class="full-width">
		   <input matInput placeholder="Naam" formControlName="name" required>
		   <mat-error>Vul de naam van het project in</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">
		   <input matInput placeholder="Code" formControlName="code" required>
		   <mat-error>Code moet bestaan uit 19 karakters - XXXX XXXX XXXX XXXX</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">  
		  <mat-select 
		  		placeholder="Selecteer 1 of meer klassen" 
		  		formControlName="classes"
		  		multiple
		  		required>
		    <mat-option *ngFor="let class of organisation?.classes" [value]="class">
		      {{class}}
		    </mat-option>
		  </mat-select>
		  <mat-error>Selecteer minimaal 1 klas</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">  
		  <mat-select 
		  		placeholder="Selecteer 1 of meer vakken" 
		  		formControlName="subjects"
		  		 multiple
		  		 required>
		    <mat-option *ngFor="let subject of organisation?.subjects" [value]="subject">
		      {{subject}}
		    </mat-option>
		  </mat-select>
		  <mat-error>Selecteer minimaal 1 vak</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">  
		  <mat-select 
		  		placeholder="Selecteer status" 
		  		formControlName="status"
		  		required>
		    <mat-option *ngFor="let status of availableStatus" [value]="status">
		      {{status}}
		    </mat-option>
		  </mat-select>
		  <mat-error>Selecteer minimaal 1 vak</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">  
		  <mat-select 
		  		placeholder="Selecteer een kleur" 
		  		formControlName="color"
		  		 required>
		    <mat-option *ngFor="let color of colors" [value]="color.color">
		      {{color.colorLabel}}
		    </mat-option>
		  </mat-select>
		  <mat-error>Selecteer een kleur</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">
		   <input type="text" matInput 
		   			placeholder="Opdracht" formControlName="projectTaskUrl"
		   			pattern="https?://.+">
		   <mat-hint>Hier kun je een link naar een projectopdracht plaatsen</mat-hint>
		   <mat-error>Dit is geen geldige url</mat-error>
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button type="submit" mat-raised-button color="primary" [disabled]="projectForm.invalid">Bewaren</button>
		<button type="button" mat-raised-button color="accent" [mat-dialog-close]="false">Terug</button>
	</mat-dialog-actions>
</form>